<%= render 'shared/validation_errors', object: @wine %>
<%= form_for(@wine) do |w| %>
	<%= w.label :name %> <%= w.text_field :name, autofocus: true %> <br />
	<%= w.label :year %> <%= w.text_field :year %><br />
	<%= w.label :winery %> <%= w.text_field :winery %><br />
	<%= w.label :country %> <%= w.text_field :country %><br />
	<%= w.label :varietal %> <%= w.select :varietal, Wine::VARIETALS, { prompt: "Pick one" } %><br />
	<p>
		<%= w.submit %>
		<%= link_to("Canel", wines_path) %>
	</p>
<% end %>