<h1>Wines</h1>

<%= page_entries_info @wines %>
<ol>
<% @wines.each do |wine| %>
<li><label>Name: </label><%= link_to(wine.name, wine) %></li>
<ul>
<li><label>Winery: </label><%= wine.winery %></li>
<li><label>Varietal: </label><%= wine.varietal %></li>
</ul>
<% end %>
</ol>
<%= paginate @wines %>

<%= link_to("Create New", new_wine_path) %>